* { 
    box-sizing: border-box
}

h1 {
    color: red;
  }

.container {
    margin: 20px;
}

.item {
    width: 25%;
    float: left;
    padding: 0 15px;
}

.item-box {
    height: 100px;
    margin-bottom: 20px;
}

.green {
    background-color: #11D8B3;
}

.yellow {
    background-color: #FFD466;
}

.red {
    background-color: #ED456D;
}

.blue {
    background-color: #3D7DD8;
}

  /* Add a breakpoint at max-width: 1000px */
@media (max-width: 1000px) {
    /* Change <h1>'s color property to blue */
    h1 {
    color: blue;
    }

    .item {
        width: 50%;
        float: left;
    }   
}
  
  /* Add a breakpoint at max-width: 670px */
@media (max-width: 670px) {
    /* Change <h1>'s color property to green */
    h1 {
    color: green;
    }
    .item {
        width: 100%;
        float: left;
    }
}